### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchdf = pd.read_csv(file)
purchdf.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
totalplayers = purchdf['SN'].nunique()
totalplayersdf = pd.DataFrame(
    {"Total Players": [totalplayers]})
totalplayersdf

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#find number of unique items
uniqueitems = purchdf['Item Name'].nunique()

#find average price per item
averageprice = '${:.2f}'.format(purchdf['Price'].mean())

#find total number of purchases
numberofpurchases = purchdf['Purchase ID'].count()

#find the total revenue (sum all prices)
totalrevenue = '${:,.2f}'.format(purchdf['Price'].sum())

#create a summary dataframe from all the data
summarydf = pd.DataFrame(
    {"Number of Unique Items": [uniqueitems],
    "Average Price": [averageprice],
    "Number of Purchases": [numberofpurchases],
    "Total Revenue": [totalrevenue]})

#show summary dataframe
summarydf

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#group purchase data by gender
genderdata = purchdf.groupby("Gender")

#find total number number of each gender by counting screen names
gender_totalcount = genderdata.nunique()["SN"]

#find percentage each gender makes up of total
gender_percentage = (gender_totalcount / totalplayers)*100

#create dataframe from above values
genderdf = pd.DataFrame({"Total Count": gender_totalcount, 
                         "Percentage of Players": gender_percentage})

#sort the values so they are from highest to lowest and set percentage values to percent format
genderdf = genderdf.sort_values(["Total Count"], ascending=False)
genderdf = genderdf.style.format({"Percentage of Players":"{:.2f}%"})

#change dataframe index name to blank
genderdf.index.name = (" ")
genderdf


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#calculate total purchases, per gender category
gender_totalp = genderdata["Purchase ID"].count()

#calulate average purchase price, per gender category
gender_avgpp = genderdata["Price"].mean()

#calculate total purchase value, per gender category
gender_totalpv = genderdata["Price"].sum()

#calculate average total purchase (price) per player, per gender category
gender_avgtppp = gender_totalpv/gender_totalcount

#create dataframe from gender summary data      
gensummarydf = pd.DataFrame(
    {"Purchase Count": gender_totalp,
     "Average Purchase Price": gender_avgpp,
     "Total Purchase Value": gender_totalpv,
     "Average Total Purchase per Person": gender_avgtppp})

#sort the values so they are from highest to lowest and set money values to currency format
gensummarydf = gensummarydf.sort_values(["Purchase Count"], ascending=False)
gensummarydf = gensummarydf.style.format({"Average Purchase Price":"${:,.2f}",
                                          "Total Purchase Value":"${:,.2f}",
                                          "Average Total Purchase per Person":"${:,.2f}"})
gensummarydf

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
#create ago bins
ages = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#categorize players in the age bins
purchdf["Age Group"] = pd.cut(purchdf["Age"], ages, labels=groups)

#create dataframe with players grouped by age
agegroups_df = purchdf.groupby("Age Group")

#find total number of players in each age group
totalages = agegroups_df["SN"].nunique()

#find the percentage each age group makes up of total
percent_ages = (totalages / totalplayers)*100

#create dataframe with these value
agedata_df = pd.DataFrame(
    {"Total Count": totalages,
     "Percentage of Players": percent_ages})

#format percentage values
agedata_df = agedata_df.style.format({"Percentage of Players":"{:,.2f}%"})

agedata_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#purchase data df already binned in previous section

#find purchase count, per age group
age_totalp = agegroups_df["Purchase ID"].count()

#find average purchase price, per age group
age_avgpp = agegroups_df["Price"].mean()

#find the total purchase value, per age group
age_totalpv = agegroups_df["Price"].sum()

#fine the average total purchase (price) per player, per age group
age_avgtppp = age_totalpv/totalages

#create dataframe from gender summary data      
agesummary_df = pd.DataFrame(
    {"Purchase Count": age_totalp,
     "Average Purchase Price": age_avgpp,
     "Total Purchase Value": age_totalpv,
     "Average Total Purchase per Person": age_avgtppp})

#format money values to currency 
agesummary_df = agesummary_df.style.format({"Average Purchase Price":"${:,.2f}",
                                          "Total Purchase Value":"${:,.2f}",
                                          "Average Total Purchase per Person":"${:,.2f}"})
agesummary_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
#group by screen name (aka individual player/spender)
sndata = purchdf.groupby("SN")

#calculate total purchases, per player
sn_totalp = sndata["Purchase ID"].count()

#calulate average purchase price, per player
sn_avgpp = sndata["Price"].mean()

#calculate total purchase value, per player
sn_totalpv = sndata["Price"].sum()

#create dataframe from player summary data      
snsummary_df = pd.DataFrame(
    {"Purchase Count": sn_totalp,
     "Average Purchase Price": sn_avgpp,
     "Total Purchase Value": sn_totalpv})

#sort table from highest to lowest by purchase count
snsummary_df = snsummary_df.sort_values("Purchase Count", ascending=False)

#create temp dataframe to format money values to currency and show preview
#apparently you can't use .head() on a "stylized" dataframe
snsum_df_ = snsummary_df.head().style.format({"Average Purchase Price":"${:,.2f}",
                                              "Total Purchase Value":"${:,.2f}"})
snsum_df_

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
#create dataframe from item id, item name, and item price
itemdf = purchdf[["Item ID", "Item Name", "Price"]]

#group new dataframe by item id and name
itemdata = itemdf.groupby(["Item ID", "Item Name"])

#calculate total purchases, per item
item_totalp = itemdata["Price"].count()

#calculate total purchase value, per item
item_totalpv = itemdata["Price"].sum()

#find each items price... since you can't directly reference it in:
#divide the sum of all prices by the total number of purchases
item_price = item_totalpv/item_totalp

#create dataframe from item summary data      
itemsummary_df = pd.DataFrame(
    {"Purchase Count": item_totalp,
     "Item Price": item_price,
     "Total Purchase Value": item_totalpv})

#sort table from highest to lowest by purchase count 
itemsummary_df = itemsummary_df.sort_values("Purchase Count", ascending=False)

#create dataframe to format money values to currency and show preview
itemsum_df_ = itemsummary_df.head().style.format({"Item Price":"${:,.2f}",
                                                  "Total Purchase Value":"${:,.2f}"})
itemsum_df_

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
#sort table from highest to lowest by total purchase value 
itemsummary_df = itemsummary_df.sort_values("Total Purchase Value", ascending=False)

#create another new dataframe to format money values to currency and show preview
itemsum_df_2 = itemsummary_df.head().style.format({"Item Price":"${:,.2f}",
                                                  "Total Purchase Value":"${:,.2f}"})
itemsum_df_2