### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchdf = pd.read_csv(file)
purchdf.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
totalplayers = purchdf['SN'].nunique()
totalplayersdf = pd.DataFrame(
    {"Total Players": [totalplayers]})
totalplayersdf

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#find number of unique items
uniqueitems = purchdf['Item Name'].nunique()

#find average price per item
averageprice = '${:.2f}'.format(purchdf['Price'].mean())

#find total number of purchases
numberofpurchases = purchdf['Purchase ID'].count()

#find the total revenue (sum all prices)
totalrevenue = '${:,.2f}'.format(purchdf['Price'].sum())

#create a summary dataframe from all the data
summarydf = pd.DataFrame(
    {"Number of Unique Items": [uniqueitems],
    "Average Price": [averageprice],
    "Number of Purchases": [numberofpurchases],
    "Total Revenue": [totalrevenue]})

#show summary dataframe
summarydf

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [52]:
#group purchase data by gender
genderdata = purchdf.groupby("Gender")

#find total number number of each gender by counting screen names
totalcount = genderdata.nunique()["SN"]

#find percentage each gender makes up of total
percentage = (totalcount / totalplayers)*100

#create dataframe from above values
genderdf = pd.DataFrame({"Total Count": totalcount, 
                         "Percentage of Players": percentage})

#sort the values so they are from highest to lowest and set percentage values to percent format
genderdf = genderdf.sort_values(["Total Count"], ascending=False)
genderdf = genderdf.style.format({"Percentage of Players":"{:.2f}%"})

#change dataframe index name to blank
genderdf.index.name = (" ")
genderdf


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [68]:
#calculate total purchases, per gender category
totalp = genderdata["Purchase ID"].count()

#calulate average purchase price, per gender category
avgpp = genderdata["Price"].mean()

#calculate total purchase value, per gender category
totalpv = genderdata["Price"].sum()

#calculate average total purchase (price) per player, per gender category
avgtppp = totalpv/totalcount

#create dataframe from gender summary data      
gensummarydf = pd.DataFrame(
    {"Purchase Count": totalp,
     "Average Purchase Price": avgpp,
     "Total Purchase Value": totalpv,
     "Average Total Purchase per Person": avgtppp})

#sort the values so they are from highest to lowest and set money values to currency format
gensummarydf = gensummarydf.sort_values(["Purchase Count"], ascending=False)
gensummarydf = gensummarydf.style.format({"Average Purchase Price":"${:,.2f}",
                                          "Total Purchase Value":"${:,.2f}",
                                          "Average Total Purchase per Person":"${:,.2f}"})
gensummarydf

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
#create ago bins
ages = []

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame